<div class="container">
    <h2 class="text-center">Gideri Düzenle</h2>
    <form action="/expenses/edit/<%= expense._id %>" method="post" class="w-50 mx-auto mt-3">
        <div class="mb-3">
            <label class="form-label">Kategori</label>
            <select name="category" class="form-control" required>
                <% categories.forEach(category => { %>
                    <option value="<%= category.name %>" <%= expense.category === category.name ? 'selected' : '' %>>
                        <%= category.name %>
                    </option>
                <% }) %>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Miktar (₺)</label>
            <input type="number" name="amount" class="form-control" value="<%= expense.amount %>" step="0.01" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Açıklama</label>
            <textarea name="description" class="form-control"><%= expense.description %></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Kaydet</button>
    </form>
</div>
